<!DOCTYPE html>
<html lang="en">
<head>
    <title>CocoaBeans</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Header -->
    <div class="header">
        <h1>CocoaBeans</h1>
    </div>

    <!-- inserted from extended pages, reference index.html for more info :3 -->
    {% block body %}{% endblock %}

    <!-- Footer -->
    <div class="footer">
        <p>CS 2300 Final Project | No Copyright CocoaMilka 2023</p>
    </div>
</body>
</html>