<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Home{% endblock %}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"
    {% block head %}{% endblock %}
</head>


<body>
    <!-- Header -->
    <div class="header">
        <table>
            <tr>
                <td><img src="../static/Cocoa_Beans.png" width="100"></td>   <td><h1>CocoaBeans</h1></td>
            </tr>

            <tr>
                <nav>
                    <div>
                        {% if user.is_authenticated %}
                        <a id="home" href="/">Home</a>
                        <a id="logout" href="/logout">Logout</a> 
                        {% else %}
                        <a id="signUp" href="/sign-up">Sign Up</a>
                        <a id="login" href="/login">Login</a>
                        {% endif %}
                    </div> 
                </nav>
            </tr>
        </table>
    </div>
    
    <br>

    <!-- inserted from extended pages, reference index.html for more info :3 -->
    {% block body %}{% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <!-- Error -->
                <div class="flash">
                    {{ message }}
                </div>

                {% else %}
                <!-- Success -->
                <div class="flash">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Footer -->
    <div class="footer">
        <p>CS 2300 Final Project | No Copyright CocoaMilka 2023</p>
    </div>
</body>
</html>