{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<div>
    <h1 align="center">Welcome, {{ user.username }}</h1>
</div>

<div class="commission-list">
    <center><h3>Your Commissions:</h3></center>
    <ul id="Commissions">
        {% for commission in user.commissions %}
        <li>{{ commission.title }} $ {{ commission.price }}</li>
        <button type="button" onClick="deleteCommission({{ commission.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
        {% endfor %}
    </ul>
</div>


<div class="commission-form">
    <form method="POST">
        <center><h3>Add a new Commission</h3></center>
        <br>

        <label for="title">Title:</label>
        <input type="text" name="title" id="title" placeholder="Commission Title">

        <label for="price">Price:</label>
        <input type="price" name="price" id="price" placeholder="Integer in USD">

        <br><br>

        <center><label>Commission Description</label></center>
        <br>

        <textarea name="description" id="description"></textarea>

        <br><br>

        <center><input type="submit" value="Submit"></center>
    </form>
</div>

{% endblock %}