{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<div class="content">
    <center><h1>Create an account</h1></center>

    <table>
        <!-- Show users in database -->
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.isCommissioner }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="login-form">
        <form method="POST">
            <h3 align="center">Sign Up</h3>

            <label for="user_name">Username:</label>
            <input type="text" name="user_name" id="user_name">

            <br><br>

            <label for="user_pass1">Password:</label>
            <input type="password" name="user_pass" id="user_pass1">

            <br><br>

            <label for="user_pass2">Confirm Password:</label>
            <input type="password" name="user_pass2" id="user_pass2">

            <br><br>

            <input type="submit" value="Register">
        </form>
    </div>

</div>
{% endblock %}